<section class="home">
    <h1>Offrez à vos cheveux le soin qu'ils méritent</h1>
    <div class="container">
        <div class="acrochP">
            <p>
                Une routine personnalisée des  produits respectueux de l'environnement pour des cheveux resplendissants et forts
            </p>
        </div>
        <div class="image">
            <img src="../../../assets/pictures/home-img.jpg" alt="">
        </div>
        <div class="welcom">
            <p>Bienvenue sur HairGlow comme son nom l’indique on t’aide a prendre soin de tes cheveux en personnalisant ta routine en fonction de ton temps et des produit que tu a sous la main</p>
        </div>
    </div>
    <div class="btn">
            <a [routerLink]="['/routine']">Commencer</a>
    </div>
</section>
